<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>APK Online <%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="APK Online">
    <meta name="description" content="Aplikasi Pengelolaan Kepegawaian Online">
    <meta name="author" content="BKD Pati IT Team">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/css/docs.css">
    <link rel="stylesheet" href="/styles/css/iconFont.css">
    <link rel="stylesheet" href="/styles/css/metro-bootstrap-responsive.css">
    <link rel="stylesheet" href="/styles/css/metro-bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

 	<!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    
  </head>

  <body class="metro">
  
	<div class="navigation-bar dark fixed-top">
	    <div class="navigation-bar-content container">
	        <a href="/" class="element"><span class="icon-home"></span> APK Online v1.0</a>
	        <span class="element-divider"></span>
			<a class="pull-menu place-right" href="#"></a>
	        <ul class="element-menu place-right">
	             <li>
	                 <a class="dropdown-toggle" href="#">
	                 	<img src="/images/office_folders.png" height="25" width="25"/>
	                 	BKD Kab. Pati&nbsp;
	                 </a>
	                 <ul class="dropdown-menu" data-role="dropdown">
	                     <li><a href="/panduan/">Panduan</a></li>
	                     <li><a href="/tentang/">Tentang Kami</a></li>
	                     <li><a href="/login/">Login</a></li>
	                 </ul>
	             </li>
	         </ul>        
	    </div>
	</div>
  
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.min.js"></script>
    <script src="/js/dependencies/jquery/jquery.mousewheel.js"></script>
    <script src="/js/dependencies/jquery/jquery.widget.min.js"></script>
    <script src="/js/docs.js"></script>
    <script src="/js/load-metro.js"></script>
    <script src="/js/metro.min.js"></script>
    <script src="/js/metro/metro-accordion.js"></script>
    <script src="/js/metro/metro-button-set.js"></script>
    <script src="/js/metro/metro-calendar.js"></script>
    <script src="/js/metro/metro-carousel.js"></script>
    <script src="/js/metro/metro-core.js"></script>
    <script src="/js/metro/metro-countdown.js"></script>
    <script src="/js/metro/metro-date-format.js"></script>
    <script src="/js/metro/metro-datepicker.js"></script>
    <script src="/js/metro/metro-dialog.js"></script>
    <script src="/js/metro/metro-drag-tile.js"></script>
    <script src="/js/metro/metro-dropdown.js"></script>
    <script src="/js/metro/metro-fluentmenu.js"></script>
    <script src="/js/metro/metro-global.js"></script>
    <script src="/js/metro/metro-hint.js"></script>
    <script src="/js/metro/metro-initiator.js"></script>
    <script src="/js/metro/metro-input-control.js"></script>
    <script src="/js/metro/metro-listview.js"></script>
    <script src="/js/metro/metro-live-tile.js"></script>
    <script src="/js/metro/metro-loader.js"></script>
    <script src="/js/metro/metro-locale.js"></script>
    <script src="/js/metro/metro-notify.js"></script>
    <script src="/js/metro/metro-panel.js"></script>
    <script src="/js/metro/metro-plugin-template.js"></script>
    <script src="/js/metro/metro-progressbar.js"></script>
    <script src="/js/metro/metro-pull.js"></script>
    <script src="/js/metro/metro-rating.js"></script>
    <script src="/js/metro/metro-scroll.js"></script>
    <script src="/js/metro/metro-slider.js"></script>
    <script src="/js/metro/metro-stepper.js"></script>
    <script src="/js/metro/metro-streamer.js"></script>
    <script src="/js/metro/metro-tab-control.js"></script>
    <script src="/js/metro/metro-table.js"></script>
    <script src="/js/metro/metro-tile-transform.js"></script>
    <script src="/js/metro/metro-times.js"></script>
    <script src="/js/metro/metro-touch-handler.js"></script>
    <script src="/js/metro/metro-treeview.js"></script>
    <script src="/js/metro/metro-wizard.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
