	<div class="container">
   		<div>&nbsp;</div>
   		<div>&nbsp;</div>
   		<div>&nbsp;</div>
		<div class="grid">
			<div class="row">
				<div class="span2 pull-center"></div>
				<div class="span5 pull-center">
					<img src="/images/bkdpati_office.jpg" class="shadow">
				</div>
				<div class="span5 pull-center">
					<form>
						<fieldset>
							<legend>Selamat Datang</legend>
							<div class="input-control text" data-role="input-control">
								<input type="text" placeholder="NIP (maksimal 18 angka)" autofocus>
								<button class="btn-clear" tabindex="-1"></button>
							</div>
							<div class="input-control password" data-role="input-control">
								<input type="password" placeholder="Password (minimal 8 karakter)">
								<button class="btn-reveal" tabindex="-1"></button>
							</div>
							
							<!-- 
							<div>
								<button class="button large primary" type="submit">
								Login
								</button>
							</div>
							-->
							
						</fieldset>
					</form>
					<a href="dashb.html" target="_parent"><button class="button large primary">Login</button></a>
					<div>&nbsp;</div>
					<div><small>Aplikasi Pelayanan Kepegawaian Online</small></div>
					<a class="text-info" href="http://bkd.patikab.go.id" target="_blank"><small>&copy; 2014 Badan Kepegawaian Daerah Kabupaten Pati</small></a>
				</div>
			</div> <!-- row -->
		</div> <!-- grid -->
	</div> <!-- div container -->
	