	<div class="container">
   		<div>&nbsp;</div>
   		<div>&nbsp;</div>
   		<div>&nbsp;</div>
		<div class="grid">
			<div class="row">
				<div class="span2 pull-center"></div>
				<div class="span10 pull-center">
                    <div class="panel no-border">
                        <div class="panel-header bg-lightBlue fg-white">Panduan</div>
                        <div class="panel-content fg-dark nlp nrp">
						    <ol>
						    <li>
						    	<strong>Apakah fungsi aplikasi web "APK Online" ?</strong>
						    	<p align="justify">
							    Fungsi utama aplikasi web "APK Online" adalah untuk 
							    mengelola data kepegawaian di lingkungan pemerintah 
							    kabupaten pati. Beberapa fasilitas yang ada pada aplikasi web
							    "APK Online" versi 1.0 (release awal) adalah pengelolaan data
							    master pegawai, layanan Kenaikan Gaji Berkala (KGB), 
							    layanan Ticket Support (TS), inbox KGB, inbox TS dan
							    administrasi user profile / password / previledge.
							    </p>
						    </li>
						    <li>
						    	<strong>Arti nama aplikasi web "APK Online" ?</strong>
						    	<p align="justify">
							    APK adalah singkatan dari Aplikasi Pelayanan Kepegawaian,
							    sedangkan akhiran "online" untuk menunjukkan bahwa
							    aplikasi dapat diakses melalui jaringan internet. Hal ini
							    berbeda dengan aplikasi Sistem Informasi Kepegawaian (Simpeg)
							    BKD Pati yang hanya bisa diakses didalam jaringan lokal (LAN).
							    Selain itu ada perbedaan mendasar antara "APK Online" dengan
							    Simpeg yaitu pada teknologi informasi yang digunakan dalam
							    pembuatan aplikasi. "APK Online" menggunakan bahasa scripting
							    nodejs, database mongodb dan berjalan diatas O/S Debian Linux.
							    </p>
						    </li>
						    <li>
						    	<strong>Siapakah pemakai "APK Online" ?</strong>
						    	<p align="justify">
						    	Pada awal pengembangan aplikasi web "APK Online" sebenarnya
						    	yang menjadi prioritas utama pemakai software adalah para
						    	pengelola kepegawaian di tiap Satuan Kerja Perangkat Daerah (SKPD) 
						    	dan tentu saja untuk pengelola kepegawaian di BKD. Karena informasi  
						    	mengenai layanan kepegawaian sangat dibutuhkan oleh tiap
						    	Pegawai Negeri Sipil (PNS) maka tidak menutup kemungkinan suatu
						    	ketika "APK Online" akan dapat diakses oleh seluruh PNS di
						    	lingkungan Pemerintah Kabupaten Pati. Namun tiap pemakai akan
						    	memiliki "hak akses" yang berbeda antara PNS biasa, PNS sebagai
						    	pengelola kepegawaian dan PNS sebagai admin aplikasi.
						    	</p>
						    </li>
						    <li>
						    	<strong>Cara mendaftar sebagai pengguna "APK Online" ?</strong>
						    	<p align="justify">
						    	Prosedur untuk mendapatkan user dan password (baik sebagai pengguna baru
						    	atau pengguna lama namun lupa password) adalah dengan menghubungi 
						    	admin aplikasi web "APK Online" di Bidang Informasi dan Data BKD Pati.
						    	Jangan lupa untuk membawa Tanda Pengenal Diri (KTP/SIM), 
						    	Kartu Pegawai Elektronik (KPE) dan surat keterangan dari pimpinan SKPD 
						    	bahwa yang bersangkutan adalah pengelola kepegawaian di SKPD tersebut.
						    	</p>
						    </li>
						    <li>
						    	<strong>Siapakah admin aplikasi web "APK Online" ?</strong>
						    	<p align="justify">
						    	Admin aplikasi web "APK Online" adalah PNS di Bidang Informasi dan
						    	Data BKD Pati, yang ditunjuk oleh Kepala BKD Pati untuk mengelola
						    	dan memelihara aplikasi web "APK Online". Sedangkan salah satu tugas 
						    	pokoknya adalah membantu PNS pengelola kepegawaian untuk
						    	mengaktifkan user baru, menon-aktifkan user yang sudah bukan 
						    	pengelola kepegawaian dan membantu proses "reset" password
						    	jika pemakai lupa password.
						    	</p>
						    </li>
						    </ol>
                        </div>
                    </div>
				</div> <!-- span10 -->
			</div> <!-- row -->
		</div> <!-- grid -->

		<div class="grid">
			<div class="row">
				<div class="span2 pull-center"></div>
				<div class="span10 pull-center">
					<div><small>Aplikasi Pelayanan Kepegawaian Online</small></div>
					<a class="text-info" href="http://bkd.patikab.go.id" target="_blank"><small>&copy; 2014 Badan Kepegawaian Daerah Kabupaten Pati</small></a>
				</div>
			</div>
		</div>
		<div>&nbsp;</div>
	</div> <!-- container -->	
