	<div class="container">
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div>&nbsp;</div>
		<div class="grid">
			<div class="row">
				<div class="span2 pull-center"></div>
				<div class="span10 pull-center">
					
                    <div class="panel no-border">
                        <div class="panel-header bg-lightBlue fg-white">Tentang Kami</div>
                        <div class="panel-content fg-dark nlp nrp">
                            <img src="/images/bkdpati_infodata.jpg" class="place-left margin10 nlm ntm size5 shadow">
                            <p align="justify">
	                            <strong>Bidang Informasi dan Data BKD Kabupaten Pati</strong> 
	                            mempunyai tugas pokok dan fungsi utama yaitu 
	                            melaksanakan pengumpulan dan pengolahan data yang berkaitan dengan pelayanan 
	                            kepegawaian di pemerintah kabupaten pati. 
						        Bidang Informasi dan Data BKD Pati selalu berusaha untuk meningkatkan kompetensi Sumber Daya Manusia 
						        dalam pengolahan data dan berusaha mengembangkan Sistem Informasi Pelayanan Kepegawaian 
								yang dapat mempermudah proses pengumpulan dan pengolahan data menjadi lebih cepat 
								dan akurat. 
								Salah satu sistem informasi yang sedang dikembangkan saat ini adalah <strong>APK Online</strong> 
								sebagai perbaikan Aplikasi Simpeg yang telah dikembangkan sebelumnya.  
								Perbedaan mendasar antara <strong>APK Online</strong> dan Aplikasi Simpeg 
								adalah pada teknologi informasi yang digunakan (memakai scripting nodejs dan 
								database mongodb) terutama pada konsep layanan yang bersifat "online" melalui
								jaringan internet. Selain itu <strong>APK Online</strong> mempunyai beberapa 
								fasilitas software yang sesuai dengan kebutuhan organisasi BKD Kabupaten Pati.
								Salah satu fasilitas yang ada pada <strong>APK Online</strong> adalah pengusulan
								Kenaikan Gaji Berkala (KGB) dan pencetakan surat keputusannya bisa dilakukan
								oleh Pengelola Kepegawaian di Satuan Kerja Perangkat Daerah (SKPD).
								Selain itu Pengelola Kepegawaian di SKPD dapat mengusulkan peremajaan data
								jika ada data kepegawaian yang dirasa tidak sesuai (harus disertai dengan 
								dukungan dokumen yang akan divalidasi oleh BKD Kabupaten Pati).
								Pada tahap pengembangan <strong>APK Online</strong> selanjutnya diharapkan
								dapat diintegrasikan dengan aplikasi pengelolaan dokumen digital, aplikasi 
								absensi finger print (absensi realtime), laporan DUK, laporan mekanisme, 
								aplikasi SAPK BKN Pusat, aplikasi portal BKD Propinsi Jateng, aplikasi siMAYA
								dan integrasi dengan aplikasi lainnya.
								Diharapkan dengan adanya <strong>APK Online</strong> kualitas pelayanan kepegawaian 
								akan meningkat lebih baik dan koordinasi antara BKD Kabupaten Pati 
								dengan SKPD lainnya menjadi lebih efektif dan efisien.
							</p>
							<br>
							<p>
								Pertanyaan dan Saran, Hubungi :<br>
								Bidang Informasi dan Data<br>
								Badan Kepegawaian Daerah Kabupaten Pati<br>
								Alamat Kantor : Jl. Kartini 1A Pati (69111)<br>
								Telp/Fax : +62 (0295) 384 182<br>
								Telp : +62 (0295) 382 206<br>
								Email : info [at] bkd.patikab.go.id<br>
								Kontak : Aziz Muslim, Haris Riyanto atau Bayu Setyatmoko<br>
							</p>
                        </div>
                    </div>
				</div> <!-- span10 -->
			</div> <!-- row -->
		</div> <!-- grid -->

		<div class="grid">
			<div class="row">
				<div class="span2 pull-center"></div>
				<div class="span10 pull-center">
				    <blockquote class="place-right">
					    <p><strong><i>The care of human life and happiness,<br> and not their destruction,<br> is the first and only object of good government.</i></strong></p>
					    <small>Thomas Jefferson, <cite title="Source Title">The Founding Father of USA</cite></small>
				    </blockquote>
				</div>
			</div>
		</div>

		<div class="grid">
			<div class="row">
				<div class="span2 pull-center"></div>
				<div class="span10 pull-center">
					<div><small>Aplikasi Pelayanan Kepegawaian Online</small></div>
					<a class="text-info" href="http://bkd.patikab.go.id" target="_blank"><small>&copy; 2014 Badan Kepegawaian Daerah Kabupaten Pati</small></a>
				</div>
			</div>
		</div>
		<div>&nbsp;</div>
	</div> <!-- container -->	